# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# Virtual environment
.venv/
env/
venv/

# Logs
logs/
*.log

# Data (packet captures, csvs)
data/packets.csv
data/features.csv
data/results.csv

# IDEs
.vscode/
.idea/
